[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
peewee = "*"
peewee-aio = {extras = ["aiomysql", "aiopg", "aiosqlite"], version = "*"}
pillow = "*"
requests = "*"
shlax = "*"
"ruamel.yaml" = "*"
textual = {extras = ["dev"], version = "*"}
pandas = "*"
tqdm = "*"

[dev-packages]
aleenabot = {editable = true, path = "."}

[requires]
python_version = "3.11"
